/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none
}

ul li a {
    text-decoration: none
}

.error {
    background: #e74c3c;
    padding: 0;
    margin: 0;
}

.error p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}

body .login {
    background: rgba(17, 146, 239, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(17, 146, 239, 1) 0%, rgba(2, 54, 72, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(17, 146, 239, 1)), color-stop(100%, rgba(2, 54, 72, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(17, 146, 239, 1) 0%, rgba(2, 54, 72, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(17, 146, 239, 1) 0%, rgba(2, 54, 72, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(17, 146, 239, 1) 0%, rgba(2, 54, 72, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(17, 146, 239, 1) 0%, rgba(2, 54, 72, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1192ef', endColorstr='#023648', GradientType=1);
}

.content-log {
    width: 217px;
    height: 295px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body .login .content-log input {
    border: 5px;
    display: block;
    height: 30px;
    padding: 10px;
    width: 198px;
    margin: 10px 0;
}

body .login .content-log .logIn-btn {
    width: 217px;
    background: #78b734;
    padding: 5px 0;
    color: #fff;
    font-weight: bold;
}

/*HOME*/
header.mainPageH {
    background: #4d8bc8;
    height: 80px;
}

header.mainPageH .logo {
    padding: 15px 10px 10px 14px;
    float: left;
}

header.mainPageH .logo img {
    float: left;
}

header.mainPageH .logo h2 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 10px 10px 60px;
}

header.mainPageH .profile-nav {
    float: right;
    width: 200px;
    padding-top: 10px;
    padding-right: 50px;
}

header.mainPageH .profile-nav p {
    color: #fff;
    padding: 20px 0 0 80px;
}

header.mainPageH .profile-nav img {
    height: 40px;
    width: auto;
    padding-top: 5px;
    float: left;
}

ul.submenu-usr {
    display: none;
    position: absolute;
    right: 20px;
    top: 80px;
    width: 200px;
    float: right;
    background: #2369ae;
}

ul.submenu-usr li {
    padding: 15px 0;
    text-align: center;
}

ul.submenu-usr li a {
    color: #fff;
}

.nav-col {
    height: 100%;
    width: 300px;
    background: #404040;
    float: left;
}

.wrapper {
    height: 100%;
    width: auto;
}

.side-nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    list-style: none;
    height: 72px;
    width: 100%;
    margin-top: 2px;
    background: #505050;
}

.side-nav ul li a {
    color: #fff;
}

.side-nav ul li:hover {
    background: #008AC8;
}

.side-nav ul li {
    list-style: none;
    height: 72px;
    width: 100%;
    margin-top: 2px;
    background: #505050;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
}

.side-nav ul li a {
    color: #fff;
    margin: 30px;
}

.side-nav ul li a img {
    width: 40px;
    height: 40px;
}

.side-nav ul li a span {
    padding-left: 20px;
    font-weight: 400;
    display: block;
    margin-top: 28px;
    float: left;
}

.ico-cont-nav {
    width: 40px;
    height: 50px;
    text-align: center;
    float: left;
    margin: 14px 0 0 15px;
    display: inline-block;

}

.ico-cont-nav img{
    vertical-align: middle;
}

.rezerwacja{
    text-align: center;
}
.rezerwacja h3 {
    font-size: 30px;
    padding: 30px 0;
}

.rezerwacja form input{
    height: 30px;
    padding: 10px;
    width: 198px;
    margin: 10px 0;

}